{% extends 'base.html' %}

{%block title%}About Us{% endblock %}

{%block content%}
<div style="text-align: center; max-width: 800px; margin: 0 auto; padding: 20px;">
<h1>Aurora Events</h1> 
<p class="tagline" style="font-size:20px">Crafting Moments,Creating Memories</p>

<p style="font-size:17">
    At Aurora Events, we create unforgettable experiences that inspire and connect people.
    From elegant weddings to impactful corporate conferences, we bring your vision to life
    with creativity and precision.
</p>
<p>
    Based in Calicut with over 5 years of experience, our dedicated team ensures every
    detail is perfect — so you can focus on enjoying the moment.
</p>
<p>
    Let’s make your next event extraordinary. <a href="{% url 'contact' %}">Get in touch</a>.
</p>

{% endblock %}



